@font-face {
    font-family: 'Lato';
    src: url('DMSerifDisplay-Regular.ttf') format('truetype');
}

body {
    background-color: #FF6D60;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    height: 100%;
    z-index: -1;
}

#header {
    position: fixed;
    font-size: 6vw;
    top: 30%;
    left: 20%;
    color: #98D8AA;
}

#links {
    position: fixed;
    top:60%;
    right:20%;
    z-index: 2; /* increase z-index to bring links to the front */
}

#random-block{
    background-color: #F3E99F;
    position: fixed;
    width: 100%;
    height: 40vh;
    bottom: 0%;
    left:0%;
    z-index: -2;
}

#rotating-ball canvas {
    position: fixed;
    z-index: -1;
}

#text-contents {
    position: absolute;
}

a {
font-size: 5vh;
text-decoration:none;
}

a:link {
color: rgb(144, 144, 255);
}


a:visited {
color: rgb(144, 144, 255) ;
}

/* mouse over link */
a:hover {
color: hotpink;
}

/* selected link */
a:active {
color: green;
}
